<a href="https://colab.research.google.com/github/satyhim/Python_Basics/blob/main/10_Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Session10: Functions

֍ If a group of statements is repeatedly required then it is not recommended to write these statements everytime seperately.We have to define these statements as a single unit and we can call that unit any number of times based on our requirement without rewriting. This unit is nothing but function.

֍ The main advantage of functions is code Reusability.

֍ Python supports two types of functions:

Built-in function
User defined function

Built in Functions:

The functions which are coming along with Python software automatically, are called built in functions or pre defined functions.

e.g. id(), type(), input(),eval()

User defined function:
The functions which are developed by programmer explicitly according to business requirements, are called user defined functions.

Syntax:

def function_name(parameters):

''' doc string'''

python code

return value

In [1]:
def wish():
  print("Hello Good Morning")
  wish()

In [4]:
def Myname():
  print("satish")
  Myname

#Parameters
Parameters are inputs to the function. If a function contains parameters, then at the time of calling,compulsory we should provide values otherwise, we will get error.

Eg: Write a function to take name of the student as input and print wish message by name.

In [5]:
def wish(name):
  print("Hello",name," Good Morning")

In [7]:
wish ("satish")

Hello satish  Good Morning

In [11]:
# Eg: Write a function to take number as input and print its square value
def squareIt(number):
  print(number*number)

In [12]:
squareIt(10)

100

In [13]:
def divide(number):
  print(number/10)

In [17]:
divide(500)

50.0

#Return Statement:
Function can take input values as parameters and executes business logic, and returns output to the caller with return statement.

Q) Write a Function to accept 2 Numbers as Input and return Sum

In [18]:
def add(x,y):
  return x+y

In [19]:
add(1254,365)

1619

In [20]:
"""Q) Write a Function to check whether the given Number is
  Even OR Odd?"""

def even_or_odd(number):
   if number%2==0:
     print(number,"is Even Number")
   else:
     print(number,"is Odd Number")

In [21]:
even_or_odd(536847)

536847 is Odd Number

In [22]:
even_or_odd(999)

999 is Odd Number

In [23]:
even_or_odd(126546)

126546 is Even Number

"Q) Write a Function to find Factorial of given Number?"

In [24]:
def factorial(number):
    result=1
    while number>=1:
      result=result*number
      number=number-1
    return result

In [25]:
factorial(12)

479001600

In [27]:
factorial(3)

6

In [29]:
for i in range(1,4):
   print("The Factorial of",i,"is :",factorial(i))

The Factorial of 1 is : 1
The Factorial of 2 is : 2
The Factorial of 3 is : 6

#Returning Multiple Values from a Function:

In [30]:
def sum_sub(a,b):
    sum=a+b
    sub=a-b
    return sum,sub

In [31]:
sum_sub(20,30)

(50, -10)

In [32]:
sum_sub(8,7)

(15, 1)

In [33]:
x,y=sum_sub(100,50)
print("The Sum is:",x)
print("The Subtraction is:",y)

The Sum is: 150
The Subtraction is: 50

In [34]:
sum_sub(100,50)

(150, 50)

#Types of Arguments
def f1(a,b):

-

-

f1(10,20)

a, b are formal arguments where as 10,20 are actual arguments.

There are 4 types are actual arguments are allowed in Python.

Positional Arguments
Keyword Arguments
Default Arguments
Variable length arguments

**1. Positional Arguments**

These are the arguments passed to function in correct positional order.

def sub(a, b):

print(a-b)

sub(100, 200)

sub(200, 100)

The number of arguments and position of arguments must be matched. If we change the order then result may be changed.

**2. Keyword Arguments:**

We can pass argument values by keyword i.e by parameter name.

In [42]:
def wish(name,msg,place,type_of_statement):
    print("Hello",name,msg,place,type_of_statement)

In [43]:
wish(name="satish",msg="are you from",place="Pune",type_of_statement="?")

Hello satish are you from Pune ?

In [44]:
#position changed. Still working

wish(type_of_statement="?",msg="are you from",name="satish",place="Pune")

Hello satish are you from Pune ?

#3. Default Arguments:
Sometimes we can provide default values for our positional arguments.

In [45]:
def wish(name="Guest"):
    print("Hello",name,"Good Morning")

In [46]:
wish("satish")

Hello satish Good Morning

In [47]:
wish()

Hello Guest Good Morning

#4. Variable Length Arguments:

Sometimes we can pass variable number of arguments to our function, such type of arguments are called variable length arguments.

We can declare a variable length argument with * symbol as follows

def f1(*n):

We can call this function by passing any number of arguments including zero number.

Internally all these values represented in the form of tuple

In [49]:
def sum(*n):
    total=0
    for n1 in n:
      total=total+n1
    print("The Sum=",total)

In [50]:
sum(0)

The Sum= 0

In [51]:
sum(30,40)

The Sum= 70

In [52]:
sum(65,84,62,75)

The Sum= 286

In [53]:
# We can mix variable length arguments with positional arguments.

def f1(n1,*s):
    print(n1)
    for s1 in s:
      print(s1)

In [54]:
f1(1)

1

In [55]:
f1(5,2,7,4,9,8)

5
2
7
4
9
8

In [57]:
f1('a','g','sd','t','h',5,2,7,9,10,51,84)

a
g
sd
t
h
5
2
7
9
10
51
84

**Note: After variable length argument,if we are taking any other arguments then we should provide values as keyword arguments.**

In [58]:
def f1(*s,n1):
    for s1 in s:
      print(s1)
    print(n1)

f1("A","B",n1=10)

A
B
10

**Note: We can declare key word variable length arguments also.**

We can call this function by passing any number of keyword arguments. Internally these keyword arguments will be stored inside a dictionary.

In [59]:
def display(**kwargs):
    for k,v in kwargs.items():
       print(k,"=",v)

In [60]:
display(n1=10,n2=20,n3=30)

n1 = 10
n2 = 20
n3 = 30

In [61]:
display(rno=100,name="Vinayak",marks=70,subject="Java")

rno = 100
name = Vinayak
marks = 70
subject = Java

**Note: Function vs Module vs Library**

A group of lines with some name is called a function

A group of functions saved to a file, is called Module

A group of Modules is nothing but Library

#Types of Variables

Python supports 2 types of variables.

1} Global Variables
2} Local Variables

In [62]:
a=10 # global variable(defined outside the function)
def f1():
   print(a)

def f2():
    print(a)

f1()
f2()

10
10

In [67]:
f1()

10

**Local Variables:**

The variables which are declared inside a function are called local variables.

Local variables are available only for the function in which we declared it.

In [68]:
def f1():
    a=10
    print(a) # valid

In [69]:
f1()

10

In [73]:
# We didn't
def f22():
  print(b) #invalid

f22()

NameError: ignored

In [75]:
def f22():
  b=22
  print(b)

f22()

22

**Note: If global variable and local variable having the same name then we can access global variable inside a function as follows**

In [76]:
a = 10#Global Variable
def f1():
    a=777 # Local Variable
    print(a)
    print(globals()['a'])
f1()

777
10

#Recursive Function:

A function that calls itself is known as Recursive Function.

Main advantages of recursive functions are:

We can reduce length of the code and improves readability.
We can solve complex problems very easily.
E.g.

factorial(3) = 3 * factorial(2)

= 3 2 factorial(1)

=321*factorial(0)

=321*1

=6

factorial(n) = n * factorial(n-1)

**Write a Python Function to find Factorial of given Number with Recursion **

In [77]:
def factorial(n):
    if n==0:
      result=1
    else:
      result=n*factorial(n-1)
    return result
print("Factorial of 4 is:",factorial(4))
print("Factorial of 5 is:",factorial(5))

Factorial of 4 is: 24
Factorial of 5 is: 120

In [78]:
print("Factorial of 8 is:",factorial(8))

Factorial of 8 is: 40320