<a href="https://colab.research.google.com/github/satyhim/Python_Basics/blob/main/Copy_of_Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python Basics : Session 3

In [ ]:
# Operatiors

In [ ]:
# 1) Arithmetic Operators

# 2) Relational Operators OR Comparison Operators

# 3) Logical operators

# 4) Bitwise oeprators

# 5) Assignment operators

# 6) Special operators

In [ ]:
# 1) Arithmetic Operators:

# Addition: +

#  Subtraction: -

# Multiplication: *

#  Division Operator: /

#  Modulo Operator: %

#  Floor Division Operator: //

# Exponent Operator OR Power Operator: **

In [ ]:
a=50
b=5
c=20
print('a+b+c=',a+b+c)
print('a-b-c=',a-b-c)
print('a*b*c=',a*b*c)
print('a/b=',a/b)
print('a//b=',a//b)
print('a%b=',a%b)
print('a**b=',a**b)

a+b+c= 75
a-b-c= 25
a*b*c= 5000
a/b= 10.0
a//b= 10
a%b= 0
a**b= 312500000

In [ ]:
#2) Relational Operators: >, >=, <, <=

In [ ]:
a=50
b=40
print("a > b is ",a>b)
print("a >= b is ",a>=b)
print("a < b is ",a<b)
print("a <= b is ",a<=b)

a > b is  True
a >= b is  True
a < b is  False
a <= b is  False

In [ ]:
#3) Equality Operators: ==, != (Equal to , not equal to)
# We can apply these operators for any type even for incompatible types also.

In [ ]:
30==40

False

In [ ]:
25==25

True

In [ ]:
50!=60

True

In [ ]:
60!=60

False

In [ ]:
1==True

True

In [ ]:
0==False

True

In [ ]:
True==False

False

In [ ]:
False==False

True

In [ ]:
100==100==100!=99

True

In [ ]:
50!=45!=40!=35==35

True

In [ ]:
#4) Logical Operators: and, or, not

In [ ]:
We can apply for all types.

#For boolean Types Behaviour:

and -> If both arguments are True then only result is True

or -> If atleast one arugemnt is True then result is True

not -> Complement

True and False ==> False

True or False ==> True

not False ==> True

In [ ]:
#For non-boolean Types Behaviour:

0 means False

non-zero means True

empty string is always treated as False

x and y:

If x is evaluates to false return x otherwise return y

In [ ]:
#Eg:

50 and 60

0 and 40

#If first argument is zero then result is zero otherwise result is y

0

In [ ]:
# 5) Bitwise Operators: (&, |, ^, ~, <<, >>)

# We can apply these operators bitwise.

# These operators are applicable only for int and boolean types.

# By mistake if we are trying to apply for any other type then we will get Error.

# &, |, ^, ~, <<, >>

# print(4&5) # Valid

# print(10.5 & 5.6)

# TypeError: unsupported operand type(s) for &: 'float' and 'float'

# print(True & True) # Valid

# & -> If both bits are 1 then only result is 1 otherwise result is 0

# | -> If atleast one bit is 1 then result is 1 otherwise result is 0

# ^ -> If bits are different then only result is 1 otherwise result is 0

# ~ -> bitwise complement operator

# 1 -> 0 & 0 -> 1

# << -> Bitwise Left Shift

# >> -> Bitwise Right Shift

In [ ]:
#We can apply bitwise operators for boolean types also

֍ print(True & False) # False

֍ print(True | False) # True

֍ print(True ^ False) # True

֍ print(~True) # -2

֍ print(True<<2) # 4

֍ print(True>>2) # 0

In [ ]:
# Complement Operator
#Formula ~= -x-1

In [ ]:
# Left Shift
a=20
a<<2 # left shift by 2 bytes

'''Steps:
Binary representation of 20 = 0001 0100
Left shift by 2 bytes will remove first two zero.
It will become 0101 0000 (we are adding two zero at the right side)
From left to right --> 2**0,2**1, 2**2, 2**3, 2**4, 2**5, 2**6, 2**7
2**4 +2**6 =80'''

'Steps:\nBinary representation of 20 = 0001 0100\nLeft shift by 2 bytes will remove first two zero.\nIt will become 0101 0000 (we are adding two zero at the right side)\nFrom left to right --> 2**0,2**1, 2**2, 2**3, 2**4, 2**5, 2**6, 2**7\n2**4 +2**6 =80'

In [ ]:
# Bitwise "and" operator
a=100
b= 5
a&b

4

In [ ]:
# bitwise or operator
a=1000
b=10
a|b

1002

In [ ]:
# bitwise XOR "^" Operator
a=20
b= 4
a^b

16

In [ ]:
# bitwise XOR "^" Operator
a=50
b= 5
a^b

55

In [ ]:
# 7) Assignment Operators:

֍ We can use assignment operator to assign value to the variable. Eg: x = 10

֍ We can combine asignment operator with some other operator to form compound assignment operator.

Eg: x += 10 -> x = x+10

#The following is the list of all possible compound assignment operators in Python.

 +=

 -=

 *=

 /=

 %=

 //=

 **=

 &=

 |=

 ^=

 >>=

 <<=

In [ ]:
x=100
x+=200
print(x)

300

In [ ]:
Y=500
Y+=300
print(Y)

800

In [ ]:
# 8) Ternary Operator OR Conditional Operator

# Syntax: x = firstValue if condition else secondValue

# If condition is True then firstValue will be considered else secondValue will be considered.

In [ ]:
# Eg 1:

a,b=10,20

x=30 if a<b else 40
print(x)

30

In [ ]:
a,b,c=2,4,6
x=10 if a>b>c else 20
print(x)

20

In [ ]:
# Program for Minimum of 3 Numbers
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
c=int(input("Enter Third Number:"))
min=a if a<b and a<c else b if b<c else c
print("Minimum Value:",min)

Enter First Number:20
Enter Second Number:20
Enter Third Number:2
Minimum Value: 2

In [ ]:
# Homework:

In [ ]:
# Program for Maximum of 3 Numbers
x=int(input("Enter First Number:"))
y=int(input("Enter Second Number:"))
z=int(input("Enter Third Number:"))
max=x if x>y and x>z else y if y>z else z
print("Maximum Value:",max)

Enter First Number:200
Enter Second Number:50
Enter Third Number:100
Maximum Value: 200

In [1]:
#Math Module

In [ ]:
# Mathematical Functions (math Module)

֍ A Module is collection of functions, variables and classes etc.

֍ math is a module that contains several functions to perform mathematical operations.

֍ If we want to use any module in Python, first we have to import that module. import math

֍ Once we import a module then we can call any function of that module.

In [ ]:
1) import math

2) print(math.sqrt(16))

3) print(math.pi)

In [2]:
import math
math.sqrt(25)

5.0

In [3]:
# Other important functions in math module
from math import ceil, floor, factorial, trunc, gcd, sin,cos,tan

print(ceil(10.55))
print(floor(10.55))
print(pow(10,20))
print(factorial(5))
print(trunc(10.55))
print(gcd(10,20))
print(sin(10))
print(cos(10))
print(tan(10))

11
10
100000000000000000000
120
10
10
-0.5440211108893698
-0.8390715290764524
0.6483608274590866

In [ ]:
# Important variables
'''pi = 3.14
   inf = infinity
   nan = not a number'''

In [ ]:
# Homework: Q) Write a Python Program to find Area of Circle

In [4]:
# Area of Circle
PI = 3.14
r = float(input("Enter the radius of a circle:"))
area = PI * r * r
print("Area of a circle = %.2f" %area)

Enter the radius of a circle:2
Area of a circle = 12.56

In [ ]:
#Output Statements:

In [8]:
#We can use escape characters
print("Good \n morning")

Good
 morning

In [7]:
#print with variable number of arguments
a,b,c=110,220,330
print("The Values are :",a,b,c)

The Values are : 110 220 330

In [9]:
# If we want output in the same line with space
print("Hello",end=' ')
print("World",end=' ')
print("Welcome")

Hello World Welcome

In [10]:
'''1) %i == int
   2) %d == int
   3) %f == float
   4) %s == String type'''

a=10
b=20
c=30
print("a value is %i" %a)
print("b value is %d and c value is %d" %(b,c))

a value is 10
b value is 20 and c value is 30

In [11]:
s="Students"
list1=[10,20,30,40]
print("Hello %s,The List of Items are %s" %(s,list1))

Hello Students,The List of Items are [10, 20, 30, 40]

In [12]:
s="Guys"
list1=[1,2,3,4]
print("Hello %s,The List of Items are %s" %(s,list1))

Hello Guys,The List of Items are [1, 2, 3, 4]