<a href="https://colab.research.google.com/github/satyhim/Python_Basics/blob/main/Session4_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#String
Any sequence of characters within either single quotes or double quotes is considered as a String.

We can define multi-line String literals by using triple single or double quotes.

We can also use triple quotes to use single quotes or double quotes as symbol inside String literal

In [ ]:
s= 'data science'
s = "data"
a = ''' This is a "data science" course'''

#How to access characters of a string?
We can access characters of a string by using the following ways.

By using index
By using slice operator

In [ ]:
# 1. accessing characters by using index
s= "satish muttalwad"
s[0]

's'

In [ ]:
s[-2]

'a'

In [ ]:
# 2. Accessing characters by using slice operator
#  Syntax: s[begin index : end index : step]
s="Learning Python is very very easy!!!"
s[1:7:1]

'earnin'

In [ ]:
s[::]

'Learning Python is very very easy!!!'

In [ ]:
s[:]

'Learning Python is very very easy!!!'

In [ ]:
s[:::]

SyntaxError: ignored

#IMP: To reverse the complete word or sentence-

In [ ]:
s[::-1]

'!!!ysae yrev yrev si nohtyP gninraeL'

In [ ]:
# Note: Slice operator never raises IndexError
s[100:3:-1]

'!!!ysae yrev yrev si nohtyP gnin'

**len() in-built function**

In [ ]:
len(s)

36

**Q)Write a Program to access each Character of String in Forward and Backward Direction by using while Loop?**

In [ ]:
s="Learning Python is very easy!!!"
n=len(s)
i=0
print("Forwarddirection")
while i<n:
  print(s[i],end='')
  i+=1

print("Backwarddirection")
i=-1
while i >= -n:
  print(s[i],end='')
  i = i-1

Forwarddirection
Learning Python is very easy!!!Backwarddirection
!!!ysae yrev si nohtyP gninraeL

#Checking Membership:
We can check whether the character or string is the member of another string or not by using in and not in operators.

In [1]:
s = "data"
'a' in s

True

#Comparison of Strings
We can use comparison operators (<, <=, >, >=) and equality operators (==, !=) for strings.

In [6]:
s1=input("Enter First String:")
s2=input("Enter second String:")
if s1==s2:
  print("Both Strings Are Equal")
elif s1<s2:
  print("First string is less than second string")
else:
  print("second string is greater than first string")

Enter First String:door
Enter second String:door
Both Strings Are Equal

In [7]:
s1=input("Enter First String:")
s2=input("Enter second String:")
if s1==s2:
  print("Both Strings Are Equal")
elif s1<s2:
  print("First string is less than second string")
else:
  print("second string is greater than first string")

Enter First String:data
Enter second String:science
First string is less than second string

In [11]:
s1=input("Enter First String:")
s2=input("Enter second String:")
if s1==s2:
  print("Both Strings Are Equal")
elif s1<s2:
  print("First string is less than second string")
else:
  print("First string is greater than second string")

Enter First String:laptop
Enter second String:keys
First string is greater than second string

Code from assignment:

In [9]:
s1=input("Enter first string:")
s2=input("Enter Second string:")
if s1==s2:
  print("Both strings are equal")
elif s1<s2:
  print("First String is less than Second String")
else:
  print("First String is greater than Second String")

Enter first string:science
Enter Second string:data
First String is greater than Second String

#Removing Spaces from the String:
1)rstrip()-->To remove spaces at right hand side.

2) lstrip()--> To remove spaces at left hand side.

3) strip()-->To remove spaces both sides.

In [12]:
city=input("Enter your city name:")
scity=city.strip()
if scity=="Hyderabad":
  print("Hello Hyderbadi")
elif scity=="Pune":
  print("Hello Pune")
elif scity=="Nanded":
  print("Hello Nanded")
else:
  print("Your city name is invalid")

Enter your city name:nanded
Your city name is invalid

In [13]:
city=input("Enter your city name:")
scity=city.strip()
if scity=="Hyderabad":
  print("Hello Hyderbadi")
elif scity=="Pune":
  print("Hello Pune")
elif scity=="Nanded":
  print("Hello Nanded")
else:
  print("Your city name is invalid")

Enter your city name:Nanded
Hello Nanded

In [14]:
s='  satish  '
s.strip()

'satish'

#Finding Substrings:
We can use the following 4 methods

For forward direction:

1) find()

2) index()

For backward direction:

1) rfind()

2) rindex()

In [15]:
# 1) find(): Returns index of first occurrence of the given substring. If it is not available then we will get -1.
s="data"
s.find("data")

0

In [17]:
s.find('a')

1

In [21]:
# syntax: s.find(substring,bEgin,end)
s.find("a",4,4)

-1

# 2)index()
index() method is exactly same as find() method except that if the specified substring is not available then we will get ValueError.

In [22]:
# we will get a error if the substring is not available
s.index('n')

ValueError: ignored

In [24]:
s.index('a')

1

Q) Program to display all Positions of Substring in a given Main String

In [26]:
s=input("Entermainstring:")
subs=input("Entersubstring:")
flag=False
pos=-1
n=len(s)
while True:
  pos=s.find(subs,pos+1,n)
  if pos==-1:
    break
  print("Found at position",pos)
  flag=True
if flag==False:
  print("Not Found")

Entermainstring:asdasdasdasd
Entersubstring:s
Found at position 1
Found at position 4
Found at position 7
Found at position 10

In [27]:
s=input("Entermainstring:")
subs=input("Entersubstring:")
flag=False
pos=-1
n=len(s)
while True:
  pos=s.find(subs,pos+1,n)
  if pos==-1:
    break
  print("Found at position",pos)
  flag=True
if flag==False:
  print("Not Found")

Entermainstring:dfdfdf
Entersubstring:g
Not Found

#Count substring in the given String:
We can find the number of occurrences of substring present in the given string by using count() method.

s.count(substring)-->It will search through out the string.

s.count(substring, bEgin, end)-->It will search from bEgin index to end-1 index.

In [28]:
s='adfadfadfadffff'
s.count('f')

7

#Replacing a String with another String:
s.replace(oldstring, newstring)

Inside s, every occurrence of old String will be replaced with new String.

In [34]:
s=('Becoming a data scientist is not easy without Rajesh')
s1=s.replace('not','')
s2=s1.replace('easy','diffcult')
print(s2)

Becoming a data scientist is  diffcult without Rajesh

#Splitting of Strings:
We can split the given string according to specified seperator by using split() method.

Syntax: l = s.split(seperator)

In [35]:
s="22-02-2018"
l=s.split('-')
for x in l:
  print(x)

22
02
2018

In [36]:
l

['22', '02', '2018']

#Joining Of Strings:
s = seperator.join(group of strings)

In [37]:
list1= ["data","science","ai"]
"-".join(list1)

'data-science-ai'

#Changing the case of a string:
upper()-->To convert all characters to upper case.

lower()-->To convert all characters to lower case.

swapcase() --> Converts all lower case characters to upper case and all upper case characters to lower case

title() --> To convert all character to title case. i.e first character in every word should be upper case and all remaining characters should be in lower case.

capitalize() --> Only first character will be converted to upper case and all remaining characters can be converted to lower case.

In [38]:
s='learning Python is very Easy'
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.capitalize())

LEARNING PYTHON IS VERY EASY
learning python is very easy
LEARNING pYTHON IS VERY eASY
Learning Python Is Very Easy
Learning python is very easy

#Checking Starting and Ending Part of the String:
Python contains the following methods for this purpose.

s.startswith(substring)

s.endswith(substring)

In [39]:
s='learningPythonisveryeasy'
print(s.startswith('learning'))
print(s.endswith('learning'))
print(s.endswith('easy'))

True
False
True

#To Check Type of Characters Present in a String:
Python contains the following methods for this purpose.

isalnum(): Returns True if all characters are alphanumeric( a to z , A to Z ,0 to9 ).

isalpha(): Returns True if all characters are only alphabet symbols(a to z,A to Z)

isdigit(): Returns True if all characters are digits only( 0 to 9)

islower(): Returns True if all characters are lower case alphabet symbols

isupper(): Returns True if all characters are upper case aplhabet symbols

istitle(): Returns True if string is in title case

isspace(): Returns True if string contains only spaces

In [40]:
print('pune412207'.isalnum())

True

In [41]:
print('abcdef'.islower())

True

In [42]:
print('Learning Python Is Easy'.istitle())

True

#Formatting the Strings:
We can format the strings with variable values by using replacement operator {} and format() method.

In [43]:
name='satish'
salary=10000
age=30
print("{}'s salary is {} and his age is{}".format(name,salary,age))
print("{0}'s salary is {1} and his age is {2}".format(name,salary,age))
print("{x}'s salary is {y} and his age is {z}".format(z=age,y=salary,x=name))

satish's salary is 10000 and his age is30
satish's salary is 10000 and his age is 30
satish's salary is 10000 and his age is 30

#Q1) Write a Program to Reverse the given String

In [44]:
s=input("EnterSomeString:")
print(s[::-1])

EnterSomeString:wagholi
ilohgaw

In [45]:
s= 'satish'
''.join(reversed(s))

'hsitas'

#Q2) Program to Reverse Order of Words
**Input**: Learning Python is very Easy

**Output**: Easy Very is Python Learning

In [46]:
s='Learning Python is very Easy'
l=s.split()
l1=[]
i=len(l)-1
while i>=0:
  l1.append(l[i])
  i=i-1
output=' '.join(l1)
print(output)

Easy very is Python Learning

#Q3) Write a Program to Remove Duplicate Characters from the given Input String?
**Input**: ABCDABBCDABBBCCCDDEEEF

**Output**: ABCDEF

In [48]:
s=input("EnterSomeString:")
l=[]
for x in s:
  if x not in l:
     l.append(x)
output=''.join(l)
print(output)

EnterSomeString:dhjgjghk
dhjgk

#Q4) Write a Program to find the Number of Occurrences of each Character present in the given String?
**Input**: ABCABCABBCDE

**Output**: A-3,B-4,C-3,D-1,E-1

In [49]:
s=input("Enter Some String:")
d={}
for x in s:
  if x in d.keys():
     d[x]=d[x]+1
  else:
     d[x]=1
for k,v in d.items():
   print("{} = {} Times".format(k,v))

Enter Some String:himayatnagar
h = 1 Times
i = 1 Times
m = 1 Times
a = 4 Times
y = 1 Times
t = 1 Times
n = 1 Times
g = 1 Times
r = 1 Times

In [50]:
s="aaasssddd"
d={}
for x in s:
  if x in d.keys():
     d[x]=d[x]+1
  else:
     d[x]=1

In [51]:
d

{'a': 3, 'd': 3, 's': 3}