<a href="https://colab.research.google.com/github/satyhim/Python_Basics/blob/main/7_Python_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List
֍ If we want to represent a group of individual objects as a single entity where insertion order needs to be preserved and duplicates are allowed, then we should go for List.

֍ heterogeneous objects are allowed.

֍ List is dynamic because based on our requirement we can increase the size and decrease the size.

֍ In List the elements will be placed within square brackets and with comma seperator.

֍ We can differentiate duplicate elements by using index and we can preserve insertion order by using index. Hence index will play very important role.

֍ Python supports both positive and negative indexes. +ve index means from left to right where as negative index means right to left.

֍ Listobjectsaremutable.i.ewecanchangethecontent.

In [1]:
# Create a empty list
x=[]
print(x)
print(type(x))

[]
<class 'list'>

In [2]:
x=eval(input("Enter list"))
print(x)

Enter list5,4,6,8,9,2
(5, 4, 6, 8, 9, 2)

In [21]:
# with x() function
# we need to delete 'x' variable defined in above cell
x=(1,5,8,4)
del x
l=x(range(0,10))
print(l)

NameError: ignored

In [22]:
# With split() Function:
s="Learning Python is very very easy!!!"
l=s.split()
print(l)
type(l)

['Learning', 'Python', 'is', 'very', 'very', 'easy!!!']

list

#Accessing Elements of List:
We can access elements of the list either by using index or by using slice operator(:)

By using Index:
List follows zero based index. ie index of first element is zero.

In [23]:
l = [1,2,3,4,5]
l[4] #providing index

5

In [24]:
l=["python","java","c","spark"]
l[2]

'c'

In [27]:
l[3]

'spark'

By using Slice Operator:
Syntax: list2 = list1[start:stop:step]

In [28]:
n=[1,2,3,4,5,6,7,8,9,10]
print(n[3:8])

[4, 5, 6, 7, 8]

#List vs Mutability:
Once we creates a List object, we can modify its content. Hence List objects are mutable.

In [29]:
n=[10,20,30,40]
print(n)
n[1]=777
print(n)

[10, 20, 30, 40]
[10, 777, 30, 40]

#Traversing the Elements of List:
The sequential access of each element in the list is called traversal.

In [30]:
# 1)By using while Loop:
n=[0,1,2,3,4,5,6,7,8,9,10]
i=0
while i < len(n):
  print(n[i])
  i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [35]:
# 2)By using for Loop:
n=[0,1,2,3,4,5,6,7,8,9,10]
for x in n:
 print(x)

0
1
2
3
4
5
6
7
8
9
10

In [36]:
# 3)To display Elements by Index wise:
l=["A","B","C"]
x=len(l)
for i in range(x):
  print(l[i],"is available at positive index: ",i,"and at negative index: ",i-x)

A is available at positive index:  0 and at negative index:  -3
B is available at positive index:  1 and at negative index:  -2
C is available at positive index:  2 and at negative index:  -1

#Important Functions of List:
I. To get Information about List:

In [37]:
#1) len(): Returns the number of elements present in the list
n=[10,20,30,40]
print(len(n))

4

In [38]:
#2) count(): It returns the number of occurrences of specified item in the list
n=[1,2,2,2,2,3,3]
print(n.count(1))
print(n.count(2))
print(n.count(3))

1
4
2

In [39]:
n=[1,2,2,2,2,3,3]
n.count(1)

1

In [40]:
n=[1,2,2,2,2,3,3]
n.count(2)

4

In [41]:
#3) index(): Returns the index of first occurrence of the specified item.
n=[1,2,2,2,2,3,3]
print(n.index(1))

0

In [42]:
n=[1,2,2,2,2,3,3]
print(n.index(3))

5

In [43]:
n=[1,2,2,2,2,3,3]
n.index(2)

1

II. Manipulating Elements of List:

In [44]:
#1) append() Function: add item at the end of the list
list=[]
list.append("A")
list.append("B")
list.append("C")
print(list)

['A', 'B', 'C']

In [45]:
# E.g To add all the elements to list upto 100 which are divisible by 10 --> simple --> complex
list1=[]
for i in range(101):
  if i%10==0:
    list1.append(i)
print(list1)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [48]:
#2) Insert Function: to insert item at specified index position
n=[1,2,3,4,5]
n.insert(1,888)
print(n)

[1, 888, 2, 3, 4, 5]

In [49]:
n=[1,2,3,4,5]
n.insert(5,888)
print(n)

[1, 2, 3, 4, 5, 888]

In [50]:
n=[1,2,3,4,5]
n.insert(6,888)
print(n)

[1, 2, 3, 4, 5, 888]

**Note: If the specified index is greater than max index then element will be inserted at lastposition. If the specified index is smaller than min index then element will be inserted at first position**

In [51]:
#3)extend() Function: To add all items of one list to another list

order1=["Chicken","Mutton","Fish"]
order2=["RC","KF","FO"]
order1.extend(order2)
print(order1)

['Chicken', 'Mutton', 'Fish', 'RC', 'KF', 'FO']

In [53]:
#3)extend() Function: To add all items of one list to another list

order1=["Chicken","Mutton","Fish"]
order2=["RC","KF","FO"]
order2.extend(order1)
print(order2)

['RC', 'KF', 'FO', 'Chicken', 'Mutton', 'Fish']

In [54]:
#4) remove() function:  We can use this function to remove specified item from the list.If the item present
 # multiple times then only first occurrence will be removed.
n=[10,20,10,30]
n.remove(10)
print(n)

[20, 10, 30]

In [56]:
# 5) pop()Function:  It removes and returns the last element of the list

n=[10,20,30,40]
print(n.pop())
print(n)

40
[10, 20, 30]

In [59]:
n = [10,20,30,40,50,60]
print(n.pop(3))
print(n)

40
[10, 20, 30, 50, 60]

**III) Ordering Elements of List:**
reverse(): We can use to reverse() order of elements of list.

In [60]:
n=[10,20,30,40]
n.reverse()
print(n)

[40, 30, 20, 10]

#**2.sort():**
In list by default insertion order is preserved.

If want to sort the elements of list according to default natural sorting order then we should go for sort() method.

For numbers --> Default Natural sorting Order is Ascending Order

For Strings-->Default Natural sorting order is Alphabetical Order

In [61]:
n=[20,5,15,10,0]
n.sort()
print(n)

[0, 5, 10, 15, 20]

In [65]:
s=["Dog","dog","banana","Banana","Cat","Apple"]
s.sort()
print(s)

['Apple', 'Banana', 'Cat', 'Dog', 'banana', 'dog']

To Sort in Reverse of Default Natural Sorting Order:

We can sort according to reverse of default natural sorting order by using reverse=True argument.

In [66]:
n=[40,10,30,20]
n.sort()
print(n)
n.sort(reverse=True)
print(n)
n.sort(reverse=False)
print(n)

[10, 20, 30, 40]
[40, 30, 20, 10]
[10, 20, 30, 40]

#Aliasing and Cloning of List Objects:
The process of giving another reference variable to the existing list is called aliasing.

In [67]:
x=[10,20,30,40]
    
y=x
print(id(x)) 
print(id(y))

140510719406640
140510719406640

The process of creating exactly duplicate independent object is called cloning.

We can implement cloning by using slice operator or by using copy() function.

In [68]:
# Cloning by using slicing operator

x=[10,20,30,40]
y=x[:]
y[1]=777
print(x)
print(y)

[10, 20, 30, 40]
[10, 777, 30, 40]

#Using Mathematical Operators for List Objects
Concatenation Operator (+):

We can use + to concatenate 2 lists into a single list.

In [69]:
a=[10,20,30]
b=[40,50,60]
c=a+b
print(c)

[10, 20, 30, 40, 50, 60]

Repetition Operator (*):

We can use repetition operator * to repeat elements of list specified number of times.

In [70]:
x=[10,20,30]
y=x*3
print(y)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

Comparing List Objects:

We can use comparison operators for List objects.

In [71]:
x=["Dog","Cat","Rat"]
y=["Dog","Cat","Rat"]
z=["DOG","CAT","RAT"]
print(x == y)
print(x == z)
print(x != z)

True
False
True

In [72]:
x=[50,20,30]
y=[40,50,60,100,200]
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

True
True
False
False

**Membership Operators:**

We can check whether element is a member of the list or not by using memebership operators.

1) in Operator

2) not in Operator

In [73]:
n=[10,20,30,40]
print(10 in n)
print(10 not in n)
print(50in n)

True
False
False

**clear() function:**
--> To remove all elements of list

In [74]:
n=[10,20,30,40]
print(n)
n.clear()
print(n)

[10, 20, 30, 40]
[]

#Nested Lists:
Sometimes we can take one list inside another list. Such type of lists are called nested

In [75]:
n=[10,20,[30,40]]
print(n)
print(n[0])
print(n[2])
print(n[2][0])
print(n[2][1])

[10, 20, [30, 40]]
10
[30, 40]
30
40

In [76]:
#Nested List as Matrix:
 # In Python we can represent matrix by using nested lists.
n=[[10,20,30],[40,50,60],[70,80,90]]
print(n)
print("ElementsbyRowwise:")
for r in n:
   print(r)
print("ElementsbyMatrixstyle:")
for i in range(len(n)):
  for j in range(len(n[i])):
     print(n[i][j],end=' ')
  print()

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]
ElementsbyRowwise:
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
ElementsbyMatrixstyle:
10 20 30
40 50 60
70 80 90

#List Comprehensions:
It is very easy and compact way of creating list objects from any iterable objects (Like List, Tuple, Dictionary, Range etc) based on some condition.

Syntax: list = [expression for item in list if condition]

In [77]:
s=[x*x for x in range(1,11)]
print(s)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [78]:
m=[x for x in s if x%2==0]
print(m)

[4, 16, 36, 64, 100]

In [79]:
words=["Balaiah","Nag","Venkatesh","Chiranjeevi"]
l=[w[0] for w in words]
print(l)

['B', 'N', 'V', 'C']

In [83]:
# Task: find the element from list1 which are not in list2
num1=[10,20,80,50,30,40]
num2=[30,40,50,60]
num3=[i for i in num1 if i not in num2]
print(num3)

[10, 20, 80]