<a href="https://colab.research.google.com/github/satyhim/Python_Basics/blob/main/7_Python_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuple
Tuple is exactly same as List except that it is immutable. i.e once we creates Tuple object, we cannot perform any changes in that object. Hence Tuple is Read only version of List.

If our data is fixed and never changes then we should go for Tuple.
Insertion Order is preserved Duplicates are allowed Heterogeneous objects are allowed.

We can preserve insertion order and we can differentiate duplicate objects by using index. Hence index will play very important role in Tuple also.

Tuple support both +ve and -ve index. +ve index means forward direction (from left to right) and -ve index means backward direction (from right to left)
We can represent Tuple elements within Parenthesis and with comma seperator.

In [ ]:
#parenthesis are optional
t=10,20,30,40
print(t)
print(type(t))

(10, 20, 30, 40)
<class 'tuple'>

In [ ]:
#Accessing Elements of Tuple:
We can access either by index or by slice operator

In [ ]:
#By using Index:
t=(10,20,30,40,50,60)
print(t[1])
print(t[-2])
print(t[10])

20
50

IndexError: ignored

In [ ]:
# By using Slice Operator:
t=(10,20,30,40,50,60)
print(t[2:5])
print(t[2:100])
print(t[::2])

(30, 40, 50)
(30, 40, 50, 60)
(10, 30, 50)

#Tuple vs Immutability:
Once we creates tuple, we cannot change its content. Hence tuple objects are immutable.

In [ ]:
t = (1,2,3)
t[1]=0

TypeError: ignored

#Mathematical Operators for Tuple:
We can apply + and * operators for tuple

In [ ]:
# Concatenation Operator (+):
t1=(10,20,30)
t2=(40,50,60)
t3=t1+t2
print(t3)

(10, 20, 30, 40, 50, 60)

In [ ]:
#Multiplication Operator OR Repetition Operator (*)

t1=(10,20,30)
t2=t1*3
print(t2)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

#Important Functions of Tuple:

In [ ]:
#1. len():
t= (1,2,3,4)
len(t)

4

In [ ]:
#2. count():To return number of occurrences of given element in the tuple
t= (1,2,3,4,1,1)
t.count(1)

3

In [ ]:
# 3. index(): Returns index of first occurrence of the given element.
# If the specified element is not available then we will get ValueError.
t=(10,20,10,10,20)
t.index(20)

1

In [ ]:
t.index(10)

0

In [ ]:
# 4. sorted(): To sort elements based on default natural sorting order
t=(10,20,10,10,20,40)
t1 = sorted(t)
print(t1)

[10, 10, 10, 20, 20, 40]

In [ ]:
#We can sort according to reverse of default natural sorting order as follows
t12 = sorted(t, reverse = True)
print(t12)

[40, 20, 20, 10, 10, 10]

In [ ]:
# 5. min() and max() functions:
#These functions return min and max values according to default natural sorting order.
t=(10,20,30,10,10,20)
print(min(t))
print(max(t))

10
30

#Q. What do you mean by packing and unpacking of tuple?(explain with the help of code)

***Answer***:

**Packing** = When we create a tuple, we normally assign values to it. This is called "packing" a tuple

**Unpacking** = 
But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking"

**Packing and Unpacking a Tuple**: In Python, there is a very powerful tuple assignment feature that assigns the right-hand side of values into the left-hand side. In another way, it is called unpacking of a tuple of values into a variable. In packing, we put values into a new tuple while in unpacking we extract those values into a single variable.

In [ ]:
# Packing of tuple Eg1:-
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [1]:
# Packing of tuple Eg2:-
a = ("MNNIT Allahabad", 5000, "Engineering") ## this lines PACKS values into variable a
print(a)

('MNNIT Allahabad', 5000, 'Engineering')

In [3]:
(college, student, type_ofcollege) = a # this lines UNPACKS values of variable a
print(college)
print(student)
print(type_ofcollege)

MNNIT Allahabad
5000
Engineering

In [ ]:
# Unpacking of tuple Eg2:-
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

#Tuple Comprehension:
Tuple Comprehension is not supported by Python.

t = ( x**2 for x in range(1,6))

Here we are not getting tuple object and we are getting generator object.

1) t= ( x**2 for x in range(1,6))

2) print(type(t))

3) for x in t:

4) print(x)

In [4]:
t= ( x**2 for x in range(1,6))
print(type(t))
for x in t:
  print(x)

<class 'generator'>
1
4
9
16
25

**Q.** Write a Program to take a Tuple of Numbers from the Keyboard and Print its Sum and Average?

In [5]:
t=eval(input("EnterTupleofNumbers:"))
l=len(t)
sum=0
for x in t:
  sum=sum+x
print("TheSum=",sum)
print("TheAverage=",sum/l)

EnterTupleofNumbers:5,6,7,8,9,10
TheSum= 45
TheAverage= 7.5