<a href="https://colab.research.google.com/github/satyhim/Python_Basics/blob/main/8_Python_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SET - Data Structure
@If we want to represent a group of unique values as a single entity then we
should go for set.

@Duplicates are not allowed.

@Insertion order is not preserved.But we can sort the elements.

@Indexing and slicing not allowed for the set.

@Heterogeneous elements are allowed.

@Set objects are mutable i.e once we creates set object we can perform any changes in that object based on our requirement.

@We can represent set elements within curly braces and with comma seperation

@We can apply mathematical operations like union, intersection, difference etc on set objects.

In [ ]:
s={10,20,30,40}
print(s)
print(type(s))

{40, 10, 20, 30}
<class 'set'>

In [ ]:
s={1,2,3,4}
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [ ]:
s={5,4,3,2,1}
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
#We can create set objects by using set() Function s = set(any sequence)
l=[10,20,30,40,10,20,10]
s=set(l)
print(s)

{40, 10, 20, 30}

In [ ]:
l=[10,30,40,20]
s=set(l)
print(s)

{40, 10, 20, 30}

In [ ]:
s=set(range(5))
print(s)

{0, 1, 2, 3, 4}

In [ ]:
s=set(range(2,5))
print(s)

{2, 3, 4}

In [ ]:
s=set(range(2,10,2))
print(s)

{8, 2, 4, 6}

#Important Functions of Set:

In [ ]:
# 1) add(x): add item x to the set
s={10,20,30}
s.add(40);
print(s)

{40, 10, 20, 30}

In [ ]:
# 2)  update(x,y,z): add multiple items to the set
s={10,20,30}
l=[40,50,60,10]
s.update(l,range(5))
print(s)

{0, 1, 2, 3, 4, 40, 10, 50, 20, 60, 30}

**Q) What is the difference between add() and update() Functions in Set?**

We can use add() to add individual item to the Set,where as we can use update() function to add multiple items to Set.

add() function can take only one argument where as update() function can take any number of arguments.

In [ ]:
#3. copy(): returns copy of the set(cloning)
s={10,20,30}
s1=s.copy()
print(s1)

{10, 20, 30}

In [ ]:
s

{10, 20, 30}

In [ ]:
s1

{10, 20, 30}

In [ ]:
#4. pop(): It removes and returns some random element from the set
s={40,10,30,20}
print(s)
print(s.pop())
print(s)

{40, 10, 20, 30}
40
{10, 20, 30}

In [ ]:
#5. remove(x):removes specified item from the set
s={40,10,30,20}
s.remove(30)
print(s)

{40, 10, 20}

In [ ]:
#6.  discard(): It removes specified element from the space
# If specified error not present in the set then it will not throw error
s={40,10,30,20}
s.discard(30)
print(s)

{40, 10, 20}

#Always use discard , dont use remove because discard will not give any error if the specified element is not present.

In [ ]:
#7. clear(): to remove all the elements from the set
s={10,20,30}
print(s)
s.clear()
print(s)

{10, 20, 30}
set()

#IMPORTANT CONCEPTS
**Mathematical Operations on the Set:**

1. union() = print(x.union(y))
2. intersection() = print(x.intersection(y))
3. difference = print(x.difference(y))
4. symmetric_difference() = print(x.symmetric_difference(y))

In [ ]:
#1. union(): 
# Syntax: x.union(y) OR x|y: Return all the elements present in both sets
x={10,20,30,40}
y={30,40,50,60}
print(x.union(y))
print (x|y)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [ ]:
# 2. intersection():
#Syntax: x.intersection(y) or x&y
#Returns common elements present in both x and y
x={10,20,30,40}
y={30,40,50,60}
print(x.intersection(y))
print(x&y)

{40, 30}
{40, 30}

In [ ]:
# 3. difference():
# Syntax: x.difference(y) OR x-y.
#Returns the elements present in x but not in y.
x={10,20,30,40}
y={30,40,50,60}
print(x.difference(y))
print(x-y)
print(y-x)

{10, 20}
{10, 20}
{50, 60}

In [ ]:
#4. symmetric_difference():
# x.symmetric_difference(y) OR x^y
#Returns elements present in either x OR y but not in both.
x={10,20,30,40}
y={30,40,50,60}
print(x.symmetric_difference(y))
print(x^y)

{10, 50, 20, 60}
{10, 50, 20, 60}

#Membership Operators: (in, not in)

In [ ]:
s=set("python")
print(s)
print('d'in s)
print('p'in s)

{'y', 'o', 'n', 'h', 't', 'p'}
False
True

#Set Comprehension:

In [ ]:
#Set comprehension is possible.
s = {x*x for x in range(5)}
print(s)

{0, 1, 4, 9, 16}

#Set Objects won't support indexing and slicing:

In [ ]:
s={10,20,30,40}
print(s[0])# TypeError:'set'objectdoesnotsupportindexing
print(s[1:3])# TypeError: 'set' object is not subscriptable

TypeError: ignored

#Homework

**Q) Write a Program to eliminate Duplicates Present in the List?**

In [15]:
s=[1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6]
Final_List=[1,2]
for i in s:
  if i not in Final_List:
    Final_List.append(i)
print(Final_List)

[1, 2, 3, 4, 5, 6]

**Q) Write a Program to Print different Vowels Present in the given Word?(Using intersection method)**

In [25]:
vowels=['a','e','i','o','u']
element=input("Enter any statement;")
data=set(element)
result=data.intersection(vowels)
print("vowels:",result)

Enter any statement;My village name is Himayatnagar
vowels: {'e', 'a', 'i'}

#UTF-8

@UTF-8 (UCS Transformation Format 8) is the World Wide Web's most common character encoding. Each character is represented by one to four bytes. 

@UTF-8 is a variable-width character encoding standard that uses between one and four eight-bit bytes to represent all valid Unicode code points.

@The Unicode Consortium develops the Unicode Standard. Their goal is to replace the existing character sets with its standard Unicode Transformation Format (UTF).

@The Unicode Standard has become a success and is implemented in HTML, XML, Java, JavaScript, E-mail, ASP, PHP, etc. The Unicode standard is also supported in many operating systems and all modern browsers.

@The Unicode Consortium cooperates with the leading standards development organizations, like ISO, W3C, and ECMA.

@A character in UTF8 can be from 1 to 4 bytes long. UTF-8 can represent any character in the Unicode standard. UTF-8 is backwards compatible with ASCII. UTF-8 is the preferred encoding for e-mail and web pages

@The Unicode Standard covers (almost) all the characters, punctuations, and symbols in the world.

Unicode enables processing, storage, and transport of text independent of platform and language.

The default character encoding in HTML-5 is UTF-8.

**The Difference Between Unicode and UTF-8**
Unicode is a character set. UTF-8 is encoding.

Unicode is a list of characters with unique decimal numbers (code points). A = 65, B = 66, C = 67, ....

This list of decimal numbers represent the string "hello": 104 101 108 108 111

Encoding is how these numbers are translated into binary numbers to be stored in a computer:

UTF-8 encoding will store "hello" like this (binary): 01101000 01100101 01101100 01101100  01101111