<a href="https://colab.research.google.com/github/satyhim/Python_Basics/blob/main/Session4_Python_Basics_Flow_Control.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics : 
Session#4 : ***Flow Control***

#Control Flow :  

1.  *** Conditional Statements ***

*   if
*   if-elif
*   if-elif-else

2.  *** Transfer Statements ***

*   break
*   continue
*   pass

3.  *** Iterative Statements ***

*   for
*   while


***Conditional Statements***

1) ***if*** = If condition is true then statements will be executed.

In [2]:
name=input("EnterName:")
if name=="shivansh":
  print("Hello Shiv")
  print("How are you!!!!")

EnterName:shivansh
Hello Shiv
How are you!!!!

*# Else part is always optional. Hence the following are various possible syntaxes.*

*# Write a Program to find Biggest of given 2 Numbers from the Commad Prompt?*

In [7]:
n1=int(input("EnterFirstNumber:"))
n2=int(input("EnterSecondNumber:"))
if n1>n2:
  print("Biggest Number is:",n1)
else: 
  print("Biggest Number is:",n2)

EnterFirstNumber:20
EnterSecondNumber:10
Biggest Number is: 20

# #**Homework:-**

1) Write a Program to find Biggest of given 3 Numbers from the Commad Prompt?

In [15]:
a1=int(input("EnterFirstNumber:"))
a2=int(input("EnterSecondNumber:"))
a3=int(input("EnterThirdNumber:"))
if a1>a2:
  print("Biggest Number is:",a1)
elif (a2>a1) and (a2>a3):
    print("Biggest Number is:",a2)
else:
 print("Biggest Number is:",a3)

EnterFirstNumber:10
EnterSecondNumber:20
EnterThirdNumber:30
Biggest Number is: 30

2) Write a program to find smallest of given 2 numbers?

3) Write a program to find smallest of given 3 numbers?

4) Write a program to check whether the given number is even or odd?

In [16]:
# Eg: To print odd numbers in the range 0 to 20
for i in range(20):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19

#2) Iterative Statements:

֍ ֍If we want to execute a group of statements multiple times then we should go for Iterative statements.

Python supports 2 types of iterative statements.

for loop

while loop

֍ for loop:

If we want to execute some action for every element present in some sequence (it may be string or collection) then we should go for for loop.

Syntax:

for x in sequence:

Body

Where sequence can be string or any collection.

Body will be executed for every element present in the sequence.

In [17]:
# To print characters present in the given string
s="Himayatnagar"
for x in s:
  print(x)

H
i
m
a
y
a
t
n
a
g
a
r

In [18]:
# To print Satish 10 times
for x in range(10):
   print("Satish")

Satish
Satish
Satish
Satish
Satish
Satish
Satish
Satish
Satish
Satish

In [19]:
# To display odd numbers from 10 to 50
for x in range(51):
  if (x%2!=0):
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [20]:
# To display numbers from 25 to 10 in descending order
for x in range(25,10,-1):
 print(x)

25
24
23
22
21
20
19
18
17
16
15
14
13
12
11

In [22]:
# To print sum of numbers presenst inside list
list=eval(input("EnterList:"))
sum=0;
for x in list:
 sum=sum+x;
print("The Sum=",sum)

EnterList:10,20,20,30,40
The Sum= 120

#2) While Loop
If we want to execute a group of statements iteratively until some condition become false,then we should go for while loop.

In [24]:
# To print numbers from 2 to 15 by using while loop

x=2
while x<=15:
 print(x)
 x=x+1

2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [26]:
# To display the sum of first n numbers

n=int(input("Enternumber:"))
sum=0
i=1
while i<=n:
  sum=sum+i
  i=i+1
print("The sum of first",n,"numbers is:",sum)

Enternumber:10
The sum of first 10 numbers is: 55

#Infinite Loops

In [ ]:
i=0;
while True:
  i=i+1;
  print("Hello",i)

#Nested Loop

In [27]:
# we can take a loop inside another loop,which are also known as nested loops.
for i in range(4):
  for j in range(4):
    print("i=",i," j=",j)

i= 0  j= 0
i= 0  j= 1
i= 0  j= 2
i= 0  j= 3
i= 1  j= 0
i= 1  j= 1
i= 1  j= 2
i= 1  j= 3
i= 2  j= 0
i= 2  j= 1
i= 2  j= 2
i= 2  j= 3
i= 3  j= 0
i= 3  j= 1
i= 3  j= 2
i= 3  j= 3

#Homework
Q) Write a Program to dispaly *'s in Right Angled Triangled Form

In [ ]:
*

**

***

****

*****

#3) Transfer Statements
**1) break:**
We can use break statement inside loops to break loop execution based on some condition.

In [29]:
for i in range(25):
 if i==19:
   print("processing is enough..plz break")
   break
 print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
processing is enough..plz break

In [31]:
cart=[10,20,50,599,600,60,70]
for item in cart:
  if item>500:
    print("To place this order insurence must be required")
    break
  print(item)

10
20
50
To place this order insurence must be required

#2) continue
We can use continue statement to skip current iteration and continue next iteration.

In [32]:
# Eg: To print odd numbers in the range 0 to 30
for i in range(30):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [33]:
cart=[10,20,500,800,700,50,60]
for item in cart:
  if item>=500:
    print("We cannot process this item :",item)
    continue
  print(item)

10
20
We cannot process this item : 500
We cannot process this item : 800
We cannot process this item : 700
50
60

In [34]:
numbers=[10,20,0,5,0,30]
for n in numbers:
  if n==0:
    print("Hey how we can divide with zero..just skipping")
    continue
  print("100/{} = {}".format(n,100/n))

100/10 = 10.0
100/20 = 5.0
Hey how we can divide with zero..just skipping
100/5 = 20.0
Hey how we can divide with zero..just skipping
100/30 = 3.3333333333333335

#Loops With else block
Inside loop execution, if break statement not executed, then only else part will be executed.

"else" means loop without break

In [35]:
cart=[1,2,3,4,5]
for item in cart:
  if item>=4:
     print("We cannot process this order")
     break
  print(item)
else:
  print("Congrats ...all items processed successfully")

1
2
3
We cannot process this order

In [36]:
cart=[1,2,3,4,5]
for item in cart:
  if item>=6:
     print("We cannot process this order")
     break
  print(item)
else:
  print("Congrats ...all items processed successfully")

1
2
3
4
5
Congrats ...all items processed successfully

**Homework**
Q) What is the difference between for loop and while loop in Python?

We can use loops to repeat code execution.

Repeat code for every item in sequence --> for loop

Repeat code as long as condition is true --> while loop

Q)How to exit from the loop?

-->By using break statement.

Q) How to skip some iterations inside loop? --> By using continue statement.

Q) When else part will be executed wrt loops?

-->If loop executed without break.

#3) pass statement:
pass is a keyword in python.

In our programming syntactically if block is required which won't do anything then we can define that empty block with pass keyword.

--> It is an empty statement.

-->It is a null statement.

--> It will not do anything.

Sometimes in the parent class we have to declare a function with empty body and child class responsible to provide proper implementation. Such type of empty body we can define by using pass keyword.

In [39]:
for i in range(50):
  if i%5==0:
    print(i)
  else:
    pass

0
5
10
15
20
25
30
35
40
45